// Typography

// @font-face {
//   font-family: font;
//   src: url('/static/fonts/font.woff2');
// }

// html {
//   font-family: font;
// }

@include media-breakpoint-down(md){
  .display-1 {
    font-size: 4.2em;
  }

  .notice-title {
    font-size: 2em;
  }
}

@include media-breakpoint-down(sm){
  .display-1 {
    font-size: 2.8em;
  }

  .notice-title {
    font-size: 1.5em;
  }
}
