// Variables

// Colors

$primary: #0AC18E;
$secondary: #0F1820;
$white: #F8FDFF;
$light: #F6F9FC;
$dark: #020203;

// Links

$link-color: #50AE95;

// Body

$body-bg: $dark;

// Font size

$font-size-base: 1.1rem;

// Buttons

$btn-border-radius: 20px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 10px;

// Spacing

$spacer: 1rem;
$spacers: (
    6: ($spacer * 5),
    7: ($spacer * 8)
    );

// Cards

$card-border-width: 0;
$card-border-radius: 20px;
