// Variables

// Colors

$primary: #0AC18E;
$secondary: #0F1820;
$white: #F8FDFF;
$dark: #020203;

// Body

$body-bg: $dark;

// Buttons

$btn-border-radius: 20px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 10px;

// Spacing

$spacer: 1rem;
$spacers: (
    6: ($spacer * 5),
    7: ($spacer * 8)
    );

// Cards

$card-border-width: 10px;
$card-border-radius: 20px;
$card-border-color: rgba(200, 200, 200, .3);
