@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "typography";


.hero {
  background-image: url('/static/img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 800px;
  width: 100vw;
}
