@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "typography";
@import "buttons";
@import "card";


// Hero header

.hero {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='bg' width='1440px' height='741px' viewBox='0 0 1440 741' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='90.74507%25' y1='96.4332273%25' x2='16.019753%25' y2='25.3107211%25' id='linearGradient-1'%3E%3Cstop stop-color='%236D7278' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%230AC18E' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='86.4475487%25' y1='94.5255111%25' x2='18.3722781%25' y2='24.992828%25' id='linearGradient-2'%3E%3Cstop stop-color='%23223543' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%23000000' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD'%3E%3Crect fill='%23F8FDFF' x='0' y='0' width='1440' height='1024'%3E%3C/rect%3E%3Cpath d='M152.789953,-17.2046763 L1323.22648,-582.806113 C1372.69697,-606.712222 1432.18878,-586.22824 1456.45502,-536.933395 L1733.63471,26.1341626 C1758.02663,75.6843256 1737.63185,135.626228 1688.08169,160.018148 C1687.88424,160.115343 1687.68648,160.211885 1687.4884,160.307774 L517.448309,726.714527 C467.970097,750.666521 408.435736,730.190876 384.157608,680.871873 L106.581481,116.999 C82.1895602,67.4488368 102.584345,7.50693452 152.134508,-16.8849861 C152.352601,-16.9923458 152.571084,-17.0989099 152.789953,-17.2046763 Z' id='Rectangle-Copy' fill='url(%23linearGradient-1)'%3E%3C/path%3E%3Cpath d='M48.6981618,-90.0992976 L1271.59948,-531.259115 C1323.34103,-549.924802 1380.44347,-523.298174 1399.40456,-471.664141 L1615.44777,116.655589 C1634.48575,168.499006 1607.89168,225.959729 1556.04827,244.997707 C1555.89102,245.05545 1555.73363,245.112799 1555.5761,245.169751 L332.983877,687.171288 C281.229908,705.881806 224.084288,679.259031 205.113926,627.599742 L-11.2383779,38.4382922 C-30.2763558,-13.4051244 -3.68229311,-70.8658479 48.1611235,-89.9038257 C48.3399497,-89.9694944 48.5189632,-90.0346519 48.6981618,-90.0992976 Z' id='Rectangle' fill='url(%23linearGradient-2)' transform='translate(802.092743, 78.000000) rotate(-1.000000) translate(-802.092743, -78.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 800px;
  width: 100vw;
}

@include media-breakpoint-down(md){
  .hero {
    background-position: 20% bottom;
    height: 600px;
  }
}

footer .nav.flex-column .nav-link {
  padding-left: 0;
  padding-top: 0;
}
