@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "typography";


// Hero header

.hero {
  background-image: url('/static/img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 800px;
  width: 100vw;
}

@include media-breakpoint-down(md){
  .hero {
    background-position: 20% bottom;
    height: 600px;
  }
}

// Buttons

.btn {
  box-shadow: 0 5px 10px rgba(50, 50, 50, .3);
}
