{% extends 'base.njk' %}

{% block title %}Notice{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white">
    <div class="row justify-content-center">
      <h1 class="col-lg-10 font-weight-bold h2 notice-title">
        $( website-notice.title )$
      </h1>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6 align-items-center justify-content-center">
      <div class="col-lg-10">

        <h3 class="pb-4 h4">$( website-notice.h1 )$</h3>

        <p>$( website-notice.p1 )$</p>

        <p>$( website-notice.p2 )$</p>

        <h3 class="py-4 h4">$( website-notice.h2 )$</h3>

        <p>$( website-notice.p3 )$</p>

        <p>$( website-notice.p4 )$</p>

        <p>$( website-notice.p5 )$</p>

      </div>
    </div>
  </div>
</section>
{% endblock %}
