{% extends 'base.njk' %}

{% block title %}$( footer.libraries )${% endblock %}

{% set aio = [
  {
    name: "bitcoincashj",
    link: "https://github.com/pokkst/bitcoincashj",
    stacks: ["java"]
  },
  {
    name: "Fullstack",
    link: "https://fullstack.cash",
    stacks: ["js"]
  },
  {
    name: "bitcore",
    link: "https://github.com/bitpay/bitcore/tree/master/packages/bitcore-lib-cash",
    stacks: ["js"]
  },
  {
    name: "BitCash",
    link: "https://pybitcash.github.io/bitcash",
    stacks: ["python"]
  },
  {
    name: "python-bitcoincash",
    link: "https://github.com/dagurval/python-bitcoincash",
    stacks: ["python"]
  },
  {
    name: "BCHD",
    link: "https://github.com/gcash",
    stacks: ["go"]
  },
  {
    name: "bchwallet",
    link: "https://github.com/gcash/bchwallet",
    stacks: ["go"]
  },
  {
    name: "neutrino",
    link: "https://github.com/gcash/neutrino",
    stacks: ["go"]
  }
] %}

{% set data = [
  {
    name: "libauth",
    link: "https://libauth.org/",
    stacks: ["js", 'ts']
  },
  {
    name: "bchaddrjs",
    link: "https://www.npmjs.com/package/bchaddrjs",
    stacks: ["js"]
  },
  {
    name: "bchutil",
    link: "https://github.com/gcash/bchutil",
    stacks: ["go"]
  }
] %}

{% set rest = [
  {
    name: "rest.Bitcoin.com",
    link: "https://rest.bitcoin.com",
    stacks: ["api"]
  },
  {
    name: "GetBlock",
    link: "https://getblock.io",
    stacks: ["api"]
  }
] %}

{% set network = [
  {
    name: "electrum-cash",
    link: "https://www.npmjs.com/package/electrum-cash",
    stacks: ["js", "ts"]
  },
  {
    name: "bitdb and bitsocket",
    link: "https://bitdb.bch.sx/explorer",
    stacks: ["api"]
  },
  {
    name: "fulcrum (C++ electrumx)",
    link: "https://github.com/cculianu/Fulcrum",
    stacks: ["api"]
  },
  {
    name: "dnsseeder",
    link: "https://github.com/gcash/dnsseeder",
    stacks: ["go"]
  }
] %}

{% set smart = [
  {
    name: "cashscript",
    link: "https://cashscript.org/",
    stacks: ["js", "ts"]
  },
  {
    name: "spedn",
    link: "https://spedn.pl",
    stacks: ["js", "cli"]
  },
  {
    name: "meep",
    link: "https://github.com/gcash/meep",
    stacks: ["cli"]
  }
] %}

{% set tokens = [
  {
    name: "slp.dev",
    link: "https://slp.dev",
    stacks: ["js", "dart"]
  }
] %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( footer.libraries )$</h1>
    <p class="h3 text-muted">$( developers.sub )$</p>
  </div>
</section>

<section class="bg-white py-6">
  <div class="container">
    <div class="row">

      <!-- All in one -->
      <div class="col-sm-6 col-lg-4 mb-5">
        <h3 class="mb-3">$( developers.aio )$</h3>
        {% for item in aio %}
        <a class="btn mr-1 my-1 shadow-sm" href="{{ item.link }}" target="_blank">
          {% for stack in item.stacks %}<img src="/static/img/devtools/{{ stack }}.png" alt="{{ stack }}" height="30">{% endfor %}
          <span>{{ item.name }}</span>
        </a>
        <br>
        {% endfor %}
      </div>

      <!-- Data and utilities -->
      <div class="col-sm-6 col-lg-4 mb-5">
        <h3 class="mb-3">$( developers.data )$</h3>
        {% for item in data %}
        <a class="btn mr-1 my-1 shadow-sm" href="{{ item.link }}" target="_blank">
          {% for stack in item.stacks %}<img src="/static/img/devtools/{{ stack }}.png" alt="{{ stack }}" height="30">{% endfor %}
          <span>{{ item.name }}</span>
        </a>
        <br>
        {% endfor %}
      </div>

      <!-- REST APIs -->
      <div class="col-sm-6 col-lg-4 mb-5">
        <h3 class="mb-3">$( developers.rest )$</h3>
        {% for item in rest %}
        <a class="btn mr-1 my-1 shadow-sm" href="{{ item.link }}" target="_blank">
          {% for stack in item.stacks %}<img src="/static/img/devtools/{{ stack }}.png" alt="{{ stack }}" height="30">{% endfor %}
          <span>{{ item.name }}</span>
        </a>
        <br>
        {% endfor %}
      </div>

      <!-- Blockchain and network -->
      <div class="col-sm-6 col-lg-4 mb-5">
        <h3 class="mb-3">$( developers.bc )$</h3>
        {% for item in network %}
        <a class="btn mr-1 my-1 shadow-sm" href="{{ item.link }}" target="_blank">
          {% for stack in item.stacks %}<img src="/static/img/devtools/{{ stack }}.png" alt="{{ stack }}" height="30">{% endfor %}
          <span>{{ item.name }}</span>
        </a>
        <br>
        {% endfor %}
      </div>

      <!-- Smart contracts -->
      <div class="col-sm-6 col-lg-4 mb-5">
        <h3 class="mb-3">$( developers.smart-contracts )$</h3>
        {% for item in smart %}
        <a class="btn mr-1 my-1 shadow-sm" href="{{ item.link }}" target="_blank">
          {% for stack in item.stacks %}<img src="/static/img/devtools/{{ stack }}.png" alt="{{ stack }}" height="30">{% endfor %}
          <span>{{ item.name }}</span>
        </a>
        <br>
        {% endfor %}
      </div>

      <!-- Tokens -->
      <div class="col-sm-6 col-lg-4 mb-5">
        <h3 class="mb-3">$( developers.tokens )$</h3>
        {% for item in tokens %}
        <a class="btn mr-1 my-1 shadow-sm" href="{{ item.link }}" target="_blank">
          {% for stack in item.stacks %}<img src="/static/img/devtools/{{ stack }}.png" alt="{{ stack }}" height="30">{% endfor %}
          <span>{{ item.name }}</span>
        </a>
        <br>
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="text-center">
    <a class="text-muted" href="https://icons8.com" target="_blank">Icons by ICONS8</a>
  </div>
</section>
{% endblock %}
