{% extends 'base.njk' %}

{% block title %}$( footer.libraries )${% endblock %}

{%
  set aio = [
    {
      name: "bitcoinj",
      link: "https://github.com/pokkst/bitcoincashj",
      stack: "java"
    },
    {
      name: "bitcoinj",
      link: "https://fullstack.cash",
      stack: "js"
    },
    {
      name: "bitcore",
      link: "https://github.com/bitpay/bitcore/tree/master/packages/bitcore-lib-cash",
      stack: "js"
    },
    {
      name: "bitcash",
      link: "https://pybitcash.github.io/bitcash",
      stack: "python"
    },
    {
      name: "python-bitcoincash",
      link: "https://github.com/dagurval/python-bitcoincash",
      stack: "python"
    },
    {
      name: "bchd",
      link: "https://github.com/gcash",
      stack: "go"
    },
    {
      name: "bchwallet",
      link: "https://github.com/gcash/bchwallet",
      stack: "go"
    },
    {
      name: "neutrino",
      link: "https://github.com/gcash/neutrino",
      stack: "go"
    }
  ]
%}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( footer.libraries )$</h1>
    <p class="h3 text-muted">$( developers.sub )$</p>
  </div>
</section>

<section class="bg-white py-6">
  <div class="container">
    <div class="row">

      <!-- All in one -->
      <div class="col-md-6 mb-5">
        <h2>$( developers.aio )$</h2>
        <ul class="nav flex-column">
          {% for item in aio %}
          <li class="nav-item"><img src="/static/img/devtools/{{ item.stack }}.png" alt="{{ item.stack }}" height="30"> <a href="{{ item.link }}" target="_blank">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <!-- Data and utilities -->
      <div class="col-md-6 mb-5">
        <h2>$( developers.data )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img src="/static/img/devtools/js.png" alt="JavaScript" height="30"> <img src="/static/img/devtools/ts.png" alt="TypeScript" height="30"> <a href="https://libauth.org" target="_blank">libauth</a>
          </li>
          <li class="nav-item">
            <img src="/static/img/devtools/js.png" alt="JavaScript" height="30"> <a href="https://www.npmjs.com/package/bchaddrjs" target="_blank">bchaddrjs</a>
          </li>
          <li class="nav-item">
            <img src="/static/img/devtools/go.png" alt="golang" height="30"> <a href="https://github.com/gcash/bchutil">bchutil</a>
          </li>
        </ul>
      </div>

      <!-- REST APIs -->
      <div class="col-md-6 mb-5">
        <h2>$( developers.rest )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img src="/static/img/devtools/api.png" alt="api" height="30"> <a href="https://rest.bitcoin.com" target="_blank">rest.Bitcoin.com</a>
          </li>
          <li class="nav-item">
            <img src="/static/img/devtools/api.png" alt="api" height="30"> <a href="https://getblock.io" target="_blank">GetBlock</a>
          </li>
        </ul>
      </div>

      <!-- Blockchain and network -->
      <div class="col-md-6 mb-5">
        <h2>$( developers.bc )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img src="/static/img/devtools/js.png" alt="JavaScript" height="30"> <img src="/static/img/devtools/ts.png" alt="TypeScript" height="30"> <a href="https://www.npmjs.com/package/electrum-cash" target="_blank">electrum-cash</a>
          </li>
          <li class="nav-item">
            <img src="/static/img/devtools/api.png" alt="api" height="30"> <a href="https://bitdb.bch.sx/explorer" target="_blank">bitdb and bitsocket</a></li>
          <li class="nav-item">
            <img src="/static/img/devtools/api.png" alt="api" height="30"> <a href="https://github.com/cculianu/Fulcrum" target="_blank">fulcrum</a> (C++ electrumx)
          </li>
          <li class="nav-item"><img src="/static/img/devtools/go.png" alt="golang" height="30"> <a href="https://github.com/gcash/dnsseeder" target="_blank">dnsseeder</a></li>
        </ul>
      </div>

      <!-- Smart contracts -->
      <div class="col-md-6 mb-5">
        <h2>$( developers.smart-contracts )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img src="/static/img/devtools/js.png" alt="JavaScript" height="30"> <img src="/static/img/devtools/ts.png" alt="TypeScript" height="30"> <a href="https://cashscript.org">cashscript</a>
          </li>
          <li class="nav-item">
            <img src="/static/img/devtools/js.png" alt="JavaScript" height="30"> <img src="/static/img/devtools/cli.png" alt="cli" height="30"> <a href="https://spedn.pl/">spedn</a>
          </li>
          <li class="nav-item">
            <img src="/static/img/devtools/cli.png" alt="cli" height="30"> <a href="https://github.com/gcash/meep">meep</a>
          </li>
        </ul>
      </div>

      <!-- Tokens -->
      <div class="col-md-6 mb-5">
        <h2>$( developers.tokens )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <img src="/static/img/devtools/js.png" alt="JavaScript" height="30"> <img src="/static/img/devtools/dart.png" alt="dart" height="30"> <a href="https://slp.dev">slp.dev</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="text-center">
    <a class="text-muted" href="https://icons8.com" target="_blank">Icons by ICONS8</a>
  </div>
</section>
{% endblock %}
