{% extends 'base.njk' %}

{% block title %}$( footer.libraries )${% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( footer.libraries )$</h1>
    <p class="h3 text-muted">$( developers.sub )$</p>
  </div>
</section>

<section class="bg-white py-6">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-5">
        <h2>$( developers.aio )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">java: <a href="https://github.com/pokkst/bitcoincashj" target="_blank">bitcoinj</a> </li>
          <li class="nav-item">js: <a href="https://fullstack.cash" target="_blank">fullstack</a></li>
          <li class="nav-item">js: <a href="https://github.com/bitpay/bitcore/tree/master/packages/bitcore-lib-cash" target="_blank">bitcore</a></li>
          <li class="nav-item">js: <a href="https://docs.signup.cash" target="_blank">Signup</a></li>
          <li class="nav-item">python: <a href="https://pybitcash.github.io/bitcash" target="_blank">bitcash</a></li>
          <li class="nav-item">python: <a href="https://github.com/dagurval/python-bitcoincash" target="_blank">python-bitcoincash</a></li>
          <li class="nav-item">go: <a href="https://github.com/gcash" target="_blank">bchd</a></li>
          <li class="nav-item">go: <a href="https://github.com/gcash/bchwallet" target="_blank">bchwallet</a></li>
          <li class="nav-item">go: <a href="https://github.com/gcash/neutrino">neutrino</a></li>
        </ul>
      </div>

      <div class="col-md-6 mb-5">
        <h2>$( developers.data )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">js/ts: <a href="https://libauth.org" target="_blank">libauth</a></li>
          <li class="nav-item">js: <a href="https://www.npmjs.com/package/bchaddrjs" target="_blank">bchaddrjs</a></li>
          <li class="nav-item">go: <a href="https://github.com/gcash/bchutil">bchutil</a></li>
        </ul>
      </div>

      <div class="col-md-6 mb-5">
        <h2>$( developers.bc )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">js/ts: <a href="https://www.npmjs.com/package/electrum-cash" target="_blank">electrum-cash</a></li>
          <li class="nav-item">api: <a href="https://bitdb.bch.sx/explorer" target="_blank">bitdb and bitsocket</a></li>
          <li class="nav-item"><a href="https://github.com/cculianu/Fulcrum" target="_blank">fulcrum</a> (C++ electrumx)</li>
          <li class="nav-item">go: <a href="https://github.com/gcash/dnsseeder" target="_blank">dnsseeder</a></li>
        </ul>
      </div>

      <div class="col-md-6 mb-5">
        <h2>$( developers.smart-contracts )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">js/ts: <a href="https://cashscript.org">cashscript</a></li>
          <li class="nav-item">js/cli: <a href="https://spedn.pl/">spedn</a></li>
          <li class="nav-item">cli: <a href="https://github.com/gcash/meep">meep</a></li>
        </ul>
      </div>

      <div class="col-md-6 mb-5">
        <h2>$( developers.tokens )$</h2>
        <ul class="nav flex-column">
          <li class="nav-item">js, dart: <a href="https://slp.dev">slp.dev</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>
{% endblock %}
