{% extends 'base.njk' %}

{% block title %}Exchanges{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Exchanges</h1>
    <p class="h3 text-muted">Buy Bitcoin Cash</p>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6">

      <!-- Kraken -->
      <div class="col-lg-4">
        <div class="card card-body bg-light shadow-lg">
          <img src="/static/img/exchanges/kraken.svg" alt="Kraken logo" class="mx-3" height="50">
          <p class="my-4">Kraken operates in North America, Europe and Japan.</p>
          <a href="https://kraken.com" target="_blank" class="btn btn-primary">Visit Kraken</a>
        </div>
      </div>

      <!-- Coinbase -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="card card-body bg-light shadow-lg">
          <img src="/static/img/exchanges/coinbase.svg" alt="Coinbase logo" class="mx-3" height="50">
          <p class="my-4">Buy Bitcoin Cash from North America, Europe, Australia, Singapore and more.</p>
          <a href="https://coinbase.com" target="_blank" class="btn btn-primary">Visit Coinbase</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="card card-body bg-light shadow-lg">
          <img src="/static/img/exchanges/coinex.svg" alt="coinex logo" class="mx-3" height="50">
          <p class="my-4">Convert any cryptocurrency into Bitcoin Cash from anywhere.</p>
          <a href="https://coinex.com" target="_blank" class="btn btn-primary">Visit Coinex</a>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
