{% extends 'base.njk' %}

{% block title %}$( exchanges.title )${% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( exchanges.title )$</h1>
    <p class="h3 text-muted">$( exchanges.sub )$</p>
  </div>
</section>

<section class="bg-white py-6">
  <div class="container">
    <h2 class="pb-5">$( exchanges.recommended )$</h2>
    <div class="row">

      <!-- Kraken -->
      <div class="col-lg-4">
        <div class="card card-body bg-light shadow-lg">
          <img src="/static/img/exchanges/kraken.svg" alt="Kraken logo" class="mx-3" height="50">
          <p class="my-4">$( exchanges.kraken.desc )$</p>
          <a href="https://kraken.com" target="_blank" class="btn btn-primary">$( exchanges.kraken.btn )$</a>
        </div>
      </div>

      <!-- Coinbase -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="card card-body bg-light shadow-lg">
          <img src="/static/img/exchanges/coinbase.svg" alt="Coinbase logo" class="mx-3" height="50">
          <p class="my-4">$( exchanges.coinbase.desc )$</p>
          <a href="https://coinbase.com" target="_blank" class="btn btn-primary">$( exchanges.coinbase.btn )$</a>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="card card-body bg-light shadow-lg">
          <img src="/static/img/exchanges/coinex.svg" alt="coinex logo" class="mx-3" height="50">
          <p class="my-4">$( exchanges.coinex.desc )$</p>
          <a href="https://coinex.com" target="_blank" class="btn btn-primary">$( exchanges.coinex.btn )$</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-white pb-6">
  <div class="container">
    <h2 class="pb-5">$( exchanges.more )$</h2>
    <div class="row">

      {% for exchange in exchanges %}
      <div class="col-6 col-md-4">
        <p><a href="{{ exchange.link }}" target="_blank">{{ exchange.name }} {% include "icons/arrow-right.svg" %}</a></p>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}
