{% extends 'base.njk' %}

{% block title %}$( footer.explorers )${% endblock %}

{% set explorers = [
  {
    name: "Blockchair",
    link: "https://www.blockchair.com/bitcoin-cash"
  },
  {
    name: "BTC.com",
    link: "https://bch.btc.com"
  },
  {
    name: "ViaWallet",
    link: "https://explorer.viawallet.com/bch"
  },
  {
    name: "Blockchain.com",
    link: "https://www.blockchain.com/explorer?view=bch"
  },
  {
    name: "Bitcoin Unlimited",
    link: "https://explorer.bitcoinunlimited.info"
  },
  {
    name: "Electroncash.de Explorer",
    link: "https://explorer.electroncash.de"
  },
  {
    name: "Bitcoin Verde",
    link: "https://explorer.bitcoinverde.org"
  },
  {
    name: "3XPL",
    link: "https://3xpl.com/bitcoin-cash"
  },
  {
    name: "Melroy's Bitcoin Cash Explorer",
    link: "https://explorer.melroy.org/"
  },
  {
    name: "Salem Kode's Bitcoin Cash Explorer",
    link: "https://explorer.salemkode.com/"
  }
] %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( footer.explorers )$</h1>
    <p class="h3 text-muted">$( explorers.sub )$</p>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6">

      {% for explorer in explorers %}
      <div class="col-6 col-md-4">
        <p><a href="{{ explorer.link }}" target="_blank">{{ explorer.name }} {% include "icons/arrow-right.svg" %}</a></p>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}
