{% extends 'base.njk' %}
{% set title = 'index' %}

{% block body %}

<section class="hero bg-white">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-lg-left">
    <h1 class="display-1 font-weight-bold">$( index.title )$</h1>
    <!-- Call to action -->
    <div class="mt-4 row justify-content-center justify-content-lg-start">
      <a class="btn btn-primary btn-lg col-8 col-lg-3 js-trigger" href="#get-started" data-target="#get-started" data-mt-duration="600">$( index.get-started )$</a>
      <a class="btn btn-outline-light btn-lg col-8 col-lg-3 ml-lg-4 mt-4 mt-lg-0" href="/$( _lang_ )$/wallets">$( index.wallet )$</a>
      <div class="col-md-5"></div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6 align-items-center justify-content-center">

      <div class="col-lg-6">
        <h2 class="mb-4">$( index.upgrade.title )$</h2>
        <p>$( index.upgrade.p1 )$</p>
        <p>$( index.upgrade.p2 )$</p>
        <a href="/$( _lang_ )$/upgrade" class="btn btn-primary">$( index.upgrade.btn )$</a>
      </div>

      <div class="col-8 col-md-7 col-lg-5 mt-4 mt-lg-0">
        {% include "graphics/node.svg" %}
      </div>

    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container pb-6">
    <div class="row text-center justify-content-center">
      <div class="btn btn-secondary cursor-default shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        $( index.overdraft )$
      </div>
      <div class="btn btn-secondary cursor-default shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        $( index.fraud )$
      </div>
      <div class="btn btn-secondary cursor-default shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        $( index.border )$
      </div>
      <div class="btn btn-secondary cursor-default shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        $( index.chargeback )$
      </div>
      <div class="btn btn-secondary cursor-default shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        $( index.frozen )$
      </div>
    </div>
  </div>
</section>

<!-- -->
<section class="bg-white" id="get-started">
  <div class="container">
    <div class="pb-7">
      <div class="card-deck">

        <div class="card shadow-lg">
          <div class="card-body text-center">
            <h2>$( footer.individuals )$</h2>
            <div class="px-5 mb-3">
              {% include "graphics/individual.svg" %}
            </div>

            <a href="/$( _lang_ )$/wallets" class="d-block py-1">$( index.wallet )$ {% include "icons/arrow-right.svg" %}</a>
            <a href="/$( _lang_ )$/exchanges" class="d-block py-1">$( index.get-bch )$ {% include "icons/arrow-right.svg" %}</a>
            <!-- <a href="#" class="d-block py-1">Spend Bitcoin Cash {% include "icons/arrow-right.svg" %}</a> -->
          </div>
        </div>

        <div class="card shadow-lg">
          <div class="card-body text-center">
            <h2>$( index.pools-exch )$</h2>
            <div class="px-5 mb-3">
              {% include "graphics/server.svg" %}
            </div>

            <a href="/$( _lang_ )$/nodes" class="d-block py-1">$( index.run )$ {% include "icons/arrow-right.svg" %}</a>
            <a href="/$( _lang_ )$/upgrade" class="d-block py-1">$( index.upgrade-node )$ {% include "icons/arrow-right.svg" %}</a>
          </div>
        </div>

        <div class="card shadow-lg">
          <div class="card-body text-center">
            <h2>$( footer.developers )$</h2>
            <div class="px-5 mb-3">
              {% include "graphics/developer.svg" %}
            </div>

            <a href="/$( _lang_ )$/developers" class="d-block py-1">$( footer.libraries )$ {% include "icons/arrow-right.svg" %}</a>
            <a href="/$( _lang_ )$/nodes" class="d-block py-1">Run a full node {% include "icons/arrow-right.svg" %}</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- -->
{% endblock %}
