{% extends 'base.njk' %}
{% set title = 'index' %}

{% block body %}

<section class="hero bg-white">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">Better money<br>for the world</h1>
    <!-- Call to action -->
    <div class="mt-4 row justify-content-center justify-content-md-start">
      <a class="btn btn-primary btn-lg col-8 col-md-3 js-trigger" href="#get-started" data-target="#get-started" data-mt-duration="600">$( index.get-started )$</a>
      <a class="btn btn-outline-light btn-lg col-8 col-md-3 ml-md-4 mt-4 mt-md-0" href="/$( _lang_ )$/wallets">Choose a wallet</a>
      <div class="col-md-5"></div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container py-6">
    <div class="row text-center justify-content-center">
      <div class="btn btn-secondary shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        No overdrafts
      </div>
      <div class="btn btn-secondary shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        No fraud
      </div>
      <div class="btn btn-secondary shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        No borders
      </div>
      <div class="btn btn-secondary shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        No chargebacks
      </div>
      <div class="btn btn-secondary shadow-lg py-3 mx-2 col-5 col-md-4 col-lg-3 mb-4 lead">
        No frozen funds
      </div>
    </div>
  </div>
</section>

<!-- -->
<section class="bg-white" id="get-started">
  <div class="container">
    <div class="pb-7">
      <div class="card-deck">

        <div class="card shadow-lg">
          <div class="card-body">
            <h2>Individuals</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <a href="/$( _lang_ )$/wallets" class="d-block py-1">Choose a wallet {% include "icons/arrow-right.svg" %}</a>
            <a href="#" class="d-block py-1">Get Bitcoin Cash {% include "icons/arrow-right.svg" %}</a>
            <a href="#" class="d-block py-1">Spend Bitcoin Cash {% include "icons/arrow-right.svg" %}</a>
          </div>
        </div>

        <div class="card shadow-lg">
          <div class="card-body">
            <h2>Pools & Exchanges</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <a href="/$( _lang_ )$/nodes" class="d-block py-1">Run a full node {% include "icons/arrow-right.svg" %}</a>
            <a href="#" class="d-block py-1">Upgrade your full node {% include "icons/arrow-right.svg" %}</a>
          </div>
        </div>

        <div class="card shadow-lg">
          <div class="card-body">
            <h2>Developers</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <a href="/$( _lang_ )$/developers" class="d-block py-1">Libraries {% include "icons/arrow-right.svg" %}</a>
            <a href="/$( _lang_ )$/nodes" class="d-block py-1">Run a full node {% include "icons/arrow-right.svg" %}</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- -->
{% endblock %}
