{% extends 'base.njk' %}

{% block title %}Media kit{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Media kit</h1>
    <p class="h3 text-muted">Bitcoin Cash logos and resources</p>
    <a href="/static/media/bitcoin-cash-logos.zip" class="mt-3 btn btn-primary"><span class="mr-1">{% include "icons/download.svg" %}</span> Download the logo pack</a>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6">

    </div>
  </div>
</section>
{% endblock %}
