{% extends 'base.njk' %}

{% block title %}Media kit{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( media.title )$</h1>
    <p class="h3 text-muted">$( media.sub )$</p>
    <!-- Green -->
    <a href="/static/media/bitcoin-cash-logos.zip" class="mt-3 btn btn-primary"><span class="mr-1">{% include "icons/download.svg" %}</span> $( media.download )$</a>
    <!-- Orange -->
    <a href="/static/media/bitcoin-cash-orange-logos.zip" class="mt-3 btn btn-link ml-2"><span class="mr-1">{% include "icons/download.svg" %}</span> $( media.download-orange )$</a>
  </div>
</section>

<section class="bg-white py-6">
  <div class="container">

    <!-- Colors -->
    <h2>$( media.colors )$</h2>
    <div class="row mt-5">
      <div class="col-4">
        <div class="bg-primary border color-cirlce"></div>
        <span>#0AC18E</span>
      </div>
      <div class="col-4">
        <div class="bg-secondary border color-cirlce"></div>
        <p>#0F1820</p>
      </div>
      <div class="col-4">
        <div class="bg-white border color-cirlce"></div>
        <p>#F8FDFF</p>
      </div>
    </div>

    <!-- Logos -->
    <h2 class="mt-5">$( media.logos )$</h2>
    <div class="row mt-5">
      <div class="col-md-4">
        <img src="/static/img/bitcoin-cash-logo-horizontal.svg" class="img-fluid">
      </div>
      <div class="col-md-4 mt-4 mt-md-0">
        <img src="/static/img/bitcoin-cash-logo-horizontal-2020.svg" class="img-fluid">
      </div>
    </div>

  </div>
</section>
{% endblock %}
