{% extends 'base.njk' %}

{% block title %}Full nodes{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Full nodes</h1>
    <p class="h3 text-muted">Be part of the network by running a full node</p>
  </div>
</section>

<!-- Recommended node -->
<section class="bg-white">
  <div class="container">
    <div class="row py-6 align-items-center justify-content-center">
      <div class="col-10 col-lg-5">
        <img src="/static/img/nodes/bchn.png" alt="Bitcoin Cash Node command line" class="img-fluid">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <h2>Recommended node for miners</h2>
        <p class="lead py-3">Bitcoin Cash Node is a professional, miner-friendly node that solves practical problems for Bitcoin Cash.</p>
        <a href="#">
          <img src="https://www.bitcoin.com/static/appstore-aa12b52fe6ebe96643fc3ed9c8432caa.png" class="btn-store" alt="App Store logo">
        </a>
        <a href="#" class="ml-3">
          <img src="https://www.bitcoin.com/static/googleplay-4bd19e9a6de49d08bd7eddf4c675fb62.png" class="btn-store" alt="Play Store logo">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /Recommended node -->
{% endblock %}
