{% extends 'base.njk' %}

{% block title %}Full nodes{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Full nodes</h1>
    <p class="h3 text-muted">Be part of the network by running a full node</p>
  </div>
</section>

<!-- Recommended node -->
<section class="bg-white">
  <div class="container">
    <div class="row py-6 align-items-center justify-content-center">
      <div class="col-10 col-lg-5">
        <img src="/static/img/nodes/bchn.png" alt="Bitcoin Cash Node command line" class="img-fluid">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <h2>Recommended node for miners</h2>
        <p class="lead py-3">Bitcoin Cash Node is a professional, miner-friendly node that solves practical problems for Bitcoin Cash.</p>
        <a class="btn btn-primary" href="https://bitcoincashnode.org" target="_blank">Go to website</a>
      </div>
    </div>
  </div>
</section>
<!-- /Recommended node -->

<section class="bg-white">
  <div class="container">
    <div class="row pb-6">

      <!-- Exchanges -->
      <div class="col-md-6 mb-5">
        <h2>For exchanges</h2>
        <p class="lead">More stable nodes</p>
        <a class="d-block" href="https://bitcoincashnode.org" target="_blank">Bitcoin Cash Node</a>
        <a class="d-block" href="https://bitcoinunlimted.org" target="_blank">Bitcoin Unlimited</a>
      </div>

      <!-- Experimental -->
      <div class="col-md-6 mb-5 mb-md-0">
        <h2>Experimental nodes</h2>
        <p class="lead">Newer and smaller nodes</p>
        <a class="d-block" href="https://kth.cash" target="_blank">Knuth</a>
        <a class="d-block" href="https://bitcoinverde.org/documentation/" target="_blank">Bitcoin Verde</a>
      </div>

    </div>
  </div>
</section>
{% endblock %}
