{% extends 'base.njk' %}

{% block title %}Full nodes{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">$( nodes.title )$</h1>
    <p class="h3 text-muted">$( nodes.sub )$</p>
  </div>
</section>

<!-- Recommended node -->
<section class="bg-white">
  <div class="container">
    <div class="row py-6 align-items-center justify-content-center">
      <div class="col-10 col-lg-4">
        {% include "graphics/node.svg" %}
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-7 mt-5 mt-lg-0">
        <h2>$( nodes.recommended.title )$</h2>
        <div class="card-deck">
          <div class="card card-body ml-0">
            <p class="lead pb-2 pt-3">$( nodes.recommended.bchn )$</p>
            <a class="btn btn-primary" href="https://bitcoincashnode.org" target="_blank">$( nodes.recommended.btn )$</a>
          </div>

          <div class="card card-body ml-0">
            <p class="lead pb-2 pt-3">$( nodes.recommended.bu )$</p>
            <a class="btn btn-primary" href="https://bitcoinunlimited.info" target="_blank">$( nodes.recommended.btn )$</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Recommended node -->

<section class="bg-white">
  <div class="container">
    <div class="row pb-6">

      <!-- Exchanges -->
      <div class="col-md-6 mb-5">
        <h2>$( nodes.popular.title )$</h2>
        <p class="lead">$( nodes.popular.sub )$</p>
        <a class="d-block" href="https://bitcoincashnode.org" target="_blank">Bitcoin Cash Node</a>
        <a class="d-block" href="https://bitcoinunlimted.org" target="_blank">Bitcoin Unlimited</a>
        <a href="d-block" href="https://bchd.cash" target="_blank">BCHD</a>
      </div>

      <!-- Experimental -->
      <div class="col-md-6 mb-5 mb-md-0">
        <h2>$( nodes.less.title )$</h2>
        <p class="lead">$( nodes.less.sub )$</p>
        <a class="d-block" href="https://kth.cash" target="_blank">Knuth</a>
        <a class="d-block" href="https://bitcoinverde.org/documentation/" target="_blank">Bitcoin Verde</a>
        <a class="d-block" href="https://flowee.org" target="_blank">Flowee</a>
      </div>

    </div>
  </div>
</section>
{% endblock %}
