{% extends 'base.njk' %}

{% block title %}May 15th, 2022 Bitcoin Cash network upgrade{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-5 font-weight-bold">
      May 15th, 2022<br>
      Bitcoin Cash network upgrade
    </h1>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6">
      <div class="col">
        <h6 class="font-weight-bold mb-4">The upgrade will enable a variety of new financial products and services by:</h6>

        <ul>
          <li>Supporting arithmetic operations on significantly larger numbers. An expanded arithmetic range will allow contracts to manage very large balances with full precision, enabling contract-based treasuries and improving the efficiency of existing contract designs.</li>

          <li>Adding new operations, including native introspection operations. These new operations will enable the development of far more secure wallets, efficient recurring payments, and more.</li>
        </ul>

        <h6 class="font-weight-bold mb-4 mt-5">For node operators, upgrade to the latest version of a compatible node:</h6>

        <ul>
          <li>Compatible, released: <a href="https://bitcoincashnode.org/" target="_blank">Bitcoin Cash Node</a>, <a href="https://bitcoinverde.org/" target="_blank">Bitcoin Verde</a></li>

          <li>Yet to release a compatible version: <a href="https://bitcoinunlimited.info/" target="_blank">Bitcoin Unlimited</a>, <a href="https://bchd.cash/" target="_blank">BCHD</a>, <a href="https://kth.cash/">Knuth</a>, <a href="https://flowee.org/hub/" target="_blank">Flowee the Hub</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
