{% extends 'base.njk' %}

{% block title %}Upgrade your full node{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Upgrade your node</h1>
    <p class="h3 text-muted">Be compatible with the next network upgrade</p>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6">

    </div>
  </div>
</section>
{% endblock %}
