{% extends 'base.njk' %}

{% block title %}Upgrade your full node{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Upgrade your node</h1>
    <p class="h3 text-muted">Be compatible with the next network upgrade</p>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6 align-items-center justify-content-center">
      <div class="col-10 col-lg-4">
        <img src="/static/img/nodes/bchn.png" alt="Bitcoin Cash Node command line" class="img-fluid">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-7 mt-5 mt-lg-0">

        <h2>The Bitcoin Cash (BCH) network is upgrading November 15, 2020.</h2>
        <p>Most users should not be affected, but should follow any update instructions from their app or service providers.</p>
        <p>Node operators will need to upgrade their nodes to the latest version.</p>

        <p>Developers who maintain SPV libraries will need to perform a minor upgrade to follow the [new DAA specification]. Some examples are available at [link to bitcoincashj and electron-cash branches]</p>

      </div>
    </div>
  </div>
</section>
{% endblock %}
