{% extends 'base.njk' %}

{% block title %}Wallets{% endblock %}

{% block body %}

<section class="hero-alt bg-white">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold mt-5">Wallets</h1>
    <p class="h2 text-muted">Send, receive and hold Bitcoin Cash with a wallet</p>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6"></div>
  </div>
</section>
{% endblock %}
