{% extends 'base.njk' %}

{% block title %}$( wallets.title )${% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white text-center text-md-left">
    <h1 class="display-1 font-weight-bold">$( wallets.title )$</h1>
    <p class="h3 text-muted">$( wallets.sub )$</p>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row py-6">
      <div class="col-md-6 mb-5">
        <!-- Mobile -->
        <h2>$( wallets.mobile.title )$</h2>
        <p class="lead">$( wallets.mobile.sub )$</p>
        <a class="d-block" href="https://wallet.bitcoin.com" target="_blank">Bitcoin.com Wallet</a>
        <a class="d-block" href="https://electroncash.org" target="_blank">Electron Cash</a>
        <a class="d-block" href="https://bitpay.com/wallet" target="_blank">BitPay</a>
        <div>
          <a href="https://pokket.cash" target="_blank">Pokket</a>
          <small class="mobile-icon">({% include "icons/android.svg" %} only)</small>
        </div>
        <a class="d-block" href="https://wallet.coinbase.com" target="_blank">Coinbase Wallet</a>
        <a class="d-block" href="https://edge.app" target="_blank">Edge</a>
        <a class="d-block" href="https://brd.com" target="_blank">BRD</a>
        <a class="d-block" href="https://melis.io" target="_blank">Melis Wallet</a>
        <a class="d-block" href="https://www.coinomi.com" target="_blank">Coinomi</a>
      </div>

      <!-- Desktop -->
      <div class="col-md-6 mb-5">
        <h2>$( wallets.desktop.title )$</h2>
        <p class="lead">$( wallets.desktop.sub )$</p>
        <a class="d-block" href="https://electroncash.org" target="_blank">Electron Cash</a>
        <a class="d-block" href="https://pokket.cash" target="_blank">Pokket</a>
        <a class="d-block" href="https://melis.io" target="_blank">Melis Wallet</a>
      </div>

      <!-- Hardware -->
      <div class="col-md-6 mb-5 mb-md-0">
        <h2>$( wallets.hardware.title )$</h2>
        <p class="lead">$( wallets.hardware.sub )$</p>
        <a class="d-block" href="https://www.ledger.com" target="_blank">Ledger</a>
        <a class="d-block" href="https://trezor.io" target="_blank">Trezor</a>
        <a class="d-block" href="https://satochip.io" target="_blank">Satochip</a>
      </div>

      <!-- Paper -->
      <div class="col-md-6">
        <h2>$( wallets.paper.title )$</h2>
        <p class="lead">$( wallets.paper.sub )$</p>
        <a class="d-block" href="https://paperwallet.bitcoin.com/" target="_blank">Bitcoin.com Paper Wallets</a>
        <a class="d-block" href="https://cashaddress.org/" target="_blank">Cashaddress.org</a>
      </div>

    </div>
  </div>
</section>
{% endblock %}
