{% extends 'base.njk' %}

{% block title %}CashAddress converter{% endblock %}

{% block body %}

<section class="hero-alt">
  {% include "navbar.njk" %}

  <div class="container py-6 text-white">
    <h1 class="font-weight-bold">CashAddress converter</h1>
    <p class="h3 text-muted">CashAddress - Legacy address format conversion tool</p>

    <!-- Input form -->
    <div class="row mt-6">
      <div class="col-12 col-lg-10 form-inline">
        <input id="address" class="form-control form-control-lg no-round-right col-8 shadow-sm" type="text" placeholder="Paste an address here">
        <button class="btn btn-primary btn-lg no-round-left col-4" onclick="convertAddress()">Convert</button>
      </div>
    </div>

    <!-- Error message -->
    <div class="mt-3 text-left">
      <p class="text-danger d-none text-break" id="errorMessage">This is not a valid address</p>
    </div>

  </div>
</section>

<section class="bg-white py-6">
  <div class="container">

    <!-- Converted address -->
    <div class="row text-left text-break align-items-center d-none" id="convertedAddr">
      <div class="col-md-6">
        <p class="h3">Cash Address format</p>
        <p class="text-muted">Newer, safer format - use it whenever possible</p>
        <br>
        <button class="btn btn-secondary text-left" id="cashAddr">-</button>
        <p class="small text-muted mt-2">Click the address to copy it</p>
      </div>

      <div class="col-md-6 mt-4 mt-md-0">
        <p class="h3">Legacy format</p>
        <p class="text-muted">Do not send anything other than Bitcoin Cash (BCH) to this address or your funds may be lost</p>
        <button class="btn btn-secondary text-left" id="legacyAddr">-</button>
        <p class="small text-muted mt-2">Click the address to copy it</p>
      </div>
    </div>

  </div>
</section>

<script src="/static/js/bchaddrjs-0.4.9.min.js"></script>
<script>
  function convertAddress() {
    const address = $("#address").val();
    if (address) {
      if (bchaddr.isValidAddress(address)) {
        $("#errorMessage").addClass("d-none");
        // Conversion
        const cash = bchaddr.toCashAddress(address);
        const legacy = bchaddr.toLegacyAddress(address);
        // Replace values
        $("#cashAddr").text(cash);
        $("#legacyAddr").text(legacy);
        // Display converted address
        $("#convertedAddr").removeClass("d-none");
      } else {
        // Show error message
        $("#convertedAddr").addClass("d-none");
        $("#errorMessage").removeClass("d-none");
        $("#errorMessage").text(address + " is not a valid address");
      }
    }
  }
</script>
{% endblock %}
