<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="The Bitcoin Cash Community">
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/fav/favicon-16x16.png">
  <link rel="manifest" href="/static/img/fav/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/img/fav/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>{% block title %}Bitcoin Cash{% endblock %}</title>

  <!-- Preload -->
  {% if title == "index" %}
  <link rel="preload" href="/static/img/hero.svg" as="image">
  {% else %}
  <link rel="preload" href="/static/img/hero-alt.svg" as="image">
  {% endif %}
</head>
<body>

  {% block body %}{% endblock %}

  <footer class="py-6 text-light">
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-3">
          <h5>Get started</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Individuals</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Pools and Exchanges</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Developers</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3">
          <h5>Navigate</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/$( _lang_ )$/wallets" class="nav-link text-muted">Wallets</a>
            </li>
            <li class="nav-item">
              <a href="/$( _lang_ )$/nodes" class="nav-link text-muted">Nodes</a>
            </li>
            <li class="nav-item">
              <a href="/$( _lang_ )$/exchanges" class="nav-link text-muted">Exchanges</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mt-3 mt-lg-0">
          <h5>Social</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link text-muted">Reddit</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link text-muted">Twitter</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link text-muted">Telegram</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mt-3 mt-lg-0">
          <a href="/$( _lang_ )$">
            <img src="/static/img/bitcoin-cash-logo-flag-wt.svg" alt="Bitcoin Cash Logo" height="40">
          </a>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="/static/js/scripts.js"></script>
</body>
</html>
