<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="The Bitcoin Cash Community">
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  <title>{% block title %}Bitcoin Cash{% endblock %}</title>
</head>
<body>

  {% block body %}{% endblock %}

  <footer class="py-6 text-light">
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-3">
          <h5>Get started</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Individuals</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Pools and Exchanges</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Developers</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3">
          <h5>Navigate</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/" class="nav-link text-muted">Wallets</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Nodes</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-muted">Exchanges</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mt-3 mt-lg-0">
          <h5>Social</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link text-muted">Reddit</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link text-muted">Twitter</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link text-muted">Telegram</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mt-3 mt-lg-0">
          <a href="/">
            <img src="/static/img/bitcoin-cash-circle-wt.svg" alt="Bitcoin Cash Logo Circle" height="50">
          </a>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="/static/js/scripts.js"></script>
</body>
</html>
