<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="The Bitcoin Cash Community">
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  <title>{% block title %}Bitcoin Cash{% endblock %}</title>
</head>
<body>

  {% block body %}{% endblock %}

  <!-- JavaScript -->
</body>
</html>
