<footer class="py-6 text-light">
  <div class="container">
    <div class="row">

      <!-- Individuals -->
      <div class="col-6 col-lg-3">
        <h5>$( footer.individuals )$</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/wallets" class="nav-link text-muted">$( footer.wallets )$</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/exchanges" class="nav-link text-muted">$( footer.exchanges )$</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/explorers" class="nav-link text-muted">$( footer.explorers )$</a>
          </li>
        </ul>
      </div>

      <!-- Pools & Exchanges -->
      <div class="col-6 col-lg-3">
        <h5>$( index.pools-exch )$</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/nodes" class="nav-link text-muted">$( footer.nodes )$</a>
          </li>
        </ul>
      </div>

      <!-- Developers -->
      <div class="col-6 col-lg-3 mt-4 mt-lg-0">
        <h5>$( footer.developers )$</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/developers" class="nav-link text-muted">$( footer.libraries )$</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/nodes" class="nav-link text-muted">$( footer.nodes )$</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/chips" class="nav-link text-muted">CHIPs <span class="badge badge-primary">New</span></a>
          </li>
        </ul>
      </div>

      <!-- Resources -->
      <div class="col-6 col-lg-3 mt-4 mt-lg-0">
        <h5>$( footer.resources )$</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/media" class="nav-link text-muted">$( footer.media )$</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/tools/" class="nav-link text-muted">$( footer.tools-tools )$</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/bchinfo/bch.info" target="_blank" class="nav-link text-muted">$( footer.github )$</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
