<footer class="py-6 text-light">
  <div class="container">
    <div class="row">

      <!-- Get started -->
      <div class="col-6 col-lg-3">
        <h5>Get started</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link text-muted">Individuals</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-muted">Pools and Exchanges</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-muted">Developers</a>
          </li>
        </ul>
      </div>

      <!-- Navigate -->
      <div class="col-6 col-lg-3">
        <h5>Navigate</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/wallets" class="nav-link text-muted">Wallets</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/nodes" class="nav-link text-muted">Nodes</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/exchanges" class="nav-link text-muted">Exchanges</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/media" class="nav-link text-muted">Media kit</a>
          </li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-6 col-lg-3 mt-3 mt-lg-0">
        <h5>Social</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link text-muted">Reddit</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link text-muted">Twitter</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link text-muted">Telegram</a>
          </li>
        </ul>
      </div>

      <!-- Logo -->
      <div class="col-6 col-lg-3 mt-3 mt-lg-0">
        <a href="/$( _lang_ )$">
          <img src="/static/img/bitcoin-cash-logo-flag-wt.svg" alt="Bitcoin Cash Logo" height="40">
        </a>
      </div>

    </div>
  </div>
</footer>
