<footer class="py-6 text-light">
  <div class="container">
    <div class="row">

      <!-- Individuals -->
      <div class="col-6 col-lg-3">
        <h5>Individuals</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/wallets" class="nav-link text-muted">Wallets</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/exchanges" class="nav-link text-muted">Exchanges</a>
          </li>
        </ul>
      </div>

      <!-- Developers -->
      <div class="col-6 col-lg-3">
        <h5>Developers</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/nodes" class="nav-link text-muted">Nodes</a>
          </li>
          <li class="nav-item">
            <a href="/$( _lang_ )$/libraries" class="nav-link text-muted">Libraries</a>
          </li>
        </ul>
      </div>

      <!-- Resources -->
      <div class="col-6 col-lg-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/$( _lang_ )$/media" class="nav-link text-muted">Media kit</a>
          </li>
        </ul>
      </div>

      <!-- Logo -->
      <!-- <div class="col-6 col-lg-3 mt-3 mt-lg-0">
        <a href="/$( _lang_ )$">
          <img src="/static/img/bitcoin-cash-logo-flag-wt.svg" alt="Bitcoin Cash Logo" height="40">
        </a>
      </div> -->

    </div>
  </div>
</footer>
