<a class="dropdown-item text-white" href="/en/">English</a>
<a class="dropdown-item text-white" href="/zh/">简体中文</a>
<a class="dropdown-item text-white" href="/es/">Español</a>
<a class="dropdown-item text-white" href="/fr/">Français</a>
<a class="dropdown-item text-white" href="/ja/">日本語</a>
