<!-- Menu -->
<div id="menu" class="bg-dark text-white">
  <div class="container">
    <div class="pt-4 float-right">
      <button class="btn btn-transparent text-white shadow-none" id="closeMenu">
        {% include "icons/x.svg" %}
      </button>
    </div>
  </div>
</div>
<!-- /Menu -->
