<!-- Navbar -->
<nav class="navbar navbar-light">
  <div class="container mt-4">
    <a class="navbar-brand" href="/">
      <img src="/static/img/bitcoin-cash-logo-horizontal-wt.svg" height="30" alt="Bitcoin Cash Logo" loading="lazy">
    </a>

    <div>
      <a class="btn btn-transparent text-light px-3" href="#">
        {% include "icons/menu.svg" %}
      </a>
    </div>
  </div>
</nav>
<!-- /Navbar -->
